<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>Hipervideo</title> 
    {% endblock %}
    <meta name="description" content="">
    <!-- build:css assets/style/base.min.css -->
    {% include "includes/style-base.html" %}    
    <!-- endbuild -->
    {% block style_player %}{% endblock %}
    <!-- build:css assets/style/page.min.css -->
    {% block style %}{% endblock %}
    <!-- endbuild -->
</head>
<body>
    {% include "includes/header.html" %}
    <div class="container-fluid">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "includes/footer.html" %}
    <!-- build:js assets/script/base.min.js -->
    {% include "includes/script-base.html" %}   
    <!-- endbuild -->
    {% block script_player %}{% endblock %}

    {% block script_page %}{% endblock %} 
</body>
</html>