
{% block header %}
    <!-- <nav class="navbar navbar-dark bg-dark">
        <h1><a class="navbar-brand" href="/">Hipervideo </a></h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="video1.html">Video 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="video2.html">Video 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="video3.html">Video 3</a>
            </li>
        </ul>
    </nav> -->
{% endblock %}