    <div class="complementar-text">
        <!-- Chapter Title -->
        <div class="mt-3">
            <h1 class="h4">
                <div id="hv-chapter-title">Nome do capítulo</div>
                <small id="hv-chapter-subtitle" class="text-muted">Subtítulo para o capítulo</small>
            </h1>
        </div>
        <!-- /Chapter Title -->
        <!-- Complementar content -->
        <div class="mt-3">
            <h2 class="h5" id="hv-complementar-content-title">Conteúdo complementar</h2>
            <p id="hv-complementar-content-sinopsis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit orci vel sapien mattis, nec convallis mauris consectetur.Cras tempor purus at imperdiet cursus.orem ipsum dolor sit amet,consectetur adipiscing elit. Fusce blandit orci vel sapien mattis, nec convallis.
            </p>
            <button type="button" id="hv-complementar-content-modal-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalComplementarContent">Saiba mais</button>
        </div>
        <!-- /Complementar content -->
    </div>
