
    <div class="d-flex align-items-end related-btns-map" style="height: 59.5%;">
        <div class="w-100">
            <!-- Related docs -->
            <div class="mt-3">
                <button type="button" class="btn btn-secondary btn-sm btn-block">
                    Mapa mental
                </button>
                <button type="button" class="btn btn-secondary btn-sm btn-block" data-toggle="modal" data-target="#modalRelatedDocs">Anexos</button>
            </div>
            <!-- /Related docs -->

            <!-- Google Maps -->
            <div class="google-maps mt-3">
                <div id="hv-map" style="width: 289px; height: 217px;"></div>
                <!--         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56790.47485114015!2d78.00713467401424!3d27.175015099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39747121d702ff6d%3A0xdd2ae4803f767dde!2sTaj+Mahal!5e0!3m2!1spt-BR!2sbr!4v1516333441326" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
            </div>
            <!-- /Google Mpas -->
        </div>
    </div>