<ul class="timeline timeline-horizontal">
    <li class="timeline-item">
        <div id="hv-timeline-year-2013" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2013" aria-controls="modalDate1"  data-html="true" title="<b>2013</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2014" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2014"
            aria-controls="modalDate2"data-html="true" title="<b>2014</b>">
        </div>
    </li>
</ul>

{% include "includes/modals/modals_timeline_video2.html" %}