<ul class="timeline timeline-horizontal">
    <li class="timeline-item">
        <div id="hv-timeline-year-1988" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-1988" aria-controls="modalDate1"  data-html="true" title="<b>1988</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-1990" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-1990"
            aria-controls="modalDate2"data-html="true" title="<b>1990</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2011" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2011" aria-controls="modalDate3" data-html="true" title="<b>2011</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2012" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2012" aria-controls="modalDate3" data-html="true" title="<b>2012</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2013" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2013" aria-controls="modalDate4" data-html="true" title="<b>2013</b>">
        </div>
    </li>
</ul>

{% include "includes/modals/modals_timeline_video1.html" %}