<ul class="timeline timeline-horizontal">
    <li class="timeline-item">
        <div id="hv-timeline-year-1906" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-1906" aria-controls="modalDate1"  data-html="true" title="<b>1906 - 1910</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-1968" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-1968"
            aria-controls="modalDate2"data-html="true" title="<b>1968</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-1988" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-1988"
            aria-controls="modalDate3"data-html="true" title="<b>1988</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-1998" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-1998"
            aria-controls="modalDate4"data-html="true" title="<b>1998</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2003" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2003"
            aria-controls="modalDate5"data-html="true" title="<b>2003</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2013" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2013"
            aria-controls="modalDate6"data-html="true" title="<b>2013</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2014" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2014"
            aria-controls="modalDate7"data-html="true" title="<b>2014</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2015" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2015"
            aria-controls="modalDate8"data-html="true" title="<b>2015</b>">
        </div>
    </li>
    <li class="timeline-item">
        <div id="hv-timeline-year-2016" class="timeline-badge text-muted" data-placement="bottom" data-toggle="modal" href="#modalDate-2016"
            aria-controls="modalDate9"data-html="true" title="<b>2016</b>">
        </div>
    </li>
</ul>

{% include "includes/modals/modals_timeline_video3.html" %}