//*****GENERAL SYTLE*****//

// geral
.container-fluid{
    min-width: 960px;
    min-height: 100vh;
    position: relative;
}
.navbar-dark .navbar-brand{
    font-size: 2rem;
    color: #00bc8c;
    &:hover{
        color: #028060;
    }
}

//pagina index
.intro-content{
    max-width: 50%;
    margin: 0 auto;
    // margin-top: 20px;
    text-align: center;
    h2 {
        font-size: 6rem;
        display: block;
        max-width: 480px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 25px;
        span{
            color: #fff;
            font-size: 1.5rem;
            display: block;
            position: absolute;
            left: 15px;
            top: 106px;
        }
    }
}
// videos grid

.video-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.video-content{
    width: 100%;
    position: relative;
    .text-content{
        top: 0;
        padding: 45px 60px;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        h3{
            font-size: 2rem;
            text-transform: uppercase;
            // font-weight: bold;
            margin-top: 40px;   
            text-align: center;
        }
        svg{
            display: block;
            margin: 10px auto 0;
        }
    }
    .img-content{
        max-width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        img{
            display: block;
            width: 100%;
        }
    }
    a{
        img{
            transition: transform .2s;
        }
        &:hover{
            img{
                transform: scale(1.3) 

            }
        }
    }
}

//\pagina index


//pagina video
video {
  height: auto;
  max-width: 100%;
}

.playerWrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


.expand-title{
    opacity: 1;
    max-height: 320px;
    overflow: hidden;
    position :relative;
    // -webkit-animation: expandTitle 1.5s ease-in-out; /* Safari 4.0 - 8.0 */
    // animation: expandTitle 1.5s ease-in-out;
}
/* Safari 4.0 - 8.0 */
// @-webkit-keyframes expandTitle {
//     from {opacity: 0; max-height: 27px;}
//     to {opacity: 1; max-height: 320px;}
// }

//Left Sidebar
.left-content{
    height: 100%;
    position: relative;
}

//modais
.modal-title{
    font-size: 1.5rem;
}
//modal ddos conteudos complementares
.modal-complementar .modal-body{
    li{
        margin-bottom: 10px;
    }
    ul li ol{
        margin-top: 10px;
    }
}
//modal da timeline
.modal{
    z-index: 1100;
}
.modal-timeline .modal-body{
    > h6{
        &:before{
            content: '\2022';
            float: left;
            padding-right: 7px;
        }
    }
    p{
        padding-left: 15px;
    }
   & > ul{
      & > li{
            margin-bottom: 25px;
            p{
                padding-left: 0;
            }
        }
    }
}


