/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline{
	&:before {
		top: 40px;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 3px;
		background-color: #999;
		left: 50%;
		margin-left: -1.5px;
	}
      
}
.timeline-item {
	margin-bottom: 20px;
	position: relative;
	&:after, &:before{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
	.timeline-badge {
		color: #fff;
		width: 9px;
		height: 9px;
		line-height: 52px;
		font-size: 18px;
		text-align: center;
		position: absolute;
		top: 10px;
		left: 20%;
		margin-left: -25px;
		background-color: #7c7c7c;
		// border: 1px solid #ffffff;
		z-index: 100;
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
	}
	&:last-child:nth-child(even) {
		float: right;
	}
}


.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 5px 0px 5px 0px;
  display: flex;
  margin: 15px 0 30px;
  width: 100%;
	&:before{
		height: 1px;
		top: auto;
		bottom: 15px;
		left: 0;
		right: 0;
		width: 100%;
	}
  	.timeline-item {
		height: 25px;
		width: 20%;
		padding-left: 0px;
		padding-right: 20px;
		margin: 0 auto;
		&:before, &:after{
			 display: none;
		}
		.timeline-badge {
			top: auto;
			bottom: 6px;
			left: 43px;
			cursor: pointer;
			&:hover{
				background-color: #535353;
			}
		}
	}

	//adaptação animate.css - flash effect
	.animated{
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
	}
	@-webkit-keyframes flash {
		from,
		50%,
		to {
			background-color: #535353;
		}

		25%,
		75% {
			background-color: #007bff;
		}
		}

		@keyframes flash {
		from,
		50%,
		to {
			background-color: #535353;
		}

		25%,
		75% {
			background-color: #007bff;
		}
	}

}
//tooltip

.tooltip-inner{
	color: #4e4e4e;
	cursor: pointer;
	&:hover{
		color: #fff
	}
}
