.complementar-text {
  height: 40%; }

.related-btns-map {
  height: 60%; }

.expand-title {
  max-height: 320px;
  overflow: hidden;
  position: relative;
  -webkit-animation: expandTitle 1.5s ease-in-out;
  /* Safari 4.0 - 8.0 */
  animation: expandTitle 1.5s ease-in-out; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes expandTitle {
  from {
    max-height: 27px; }
  to {
    max-height: 320px; } }

/* Standard syntax */
@keyframes expandTitle {
  from {
    max-height: 27px; }
  to {
    max-height: 320px; } }

.expand-text {
  max-height: 320px;
  overflow: hidden;
  position: relative;
  -webkit-animation: expandText 1.5s ease-in-out;
  /* Safari 4.0 - 8.0 */
  animation: expandText 1.5s ease-in-out; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes expandText {
  from {
    max-height: 45px; }
  to {
    max-height: 320px; } }

/* Standard syntax */
@keyframes expandText {
  from {
    max-height: 45px; }
  to {
    max-height: 320px; } }

.google-maps {
  position: relative;
  padding-bottom: 71%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }
