video {
  height: auto;
  max-width: 100%; }

.playerWrapper {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.mejs__controls * {
  font-size: 14px; }

.mejs__captions-layer {
  font-size: 18px; }

.mejs__time-float {
  width: 42px;
  height: 19px;
  line-height: 1;
  color: #444;
  border: none;
  box-shadow: 0 0 0 0.1rem rgba(123, 120, 120, 0.5); }

.mejs__chapters-button > .mejs__chapters-selector {
  width: 140px; }

.mejs__captions-selector-list-item, .mejs__chapters-selector-list-item {
  margin: 0;
  padding: 0.25rem; }

.mejs__container-fullscreen .mejs__captions-position {
  bottom: 45px !important; }

.mejs__container-fullscreen .mejs__captions-text {
  font-size: 150% !important; }
