.container-fluid {
  min-width: 960px;
  min-height: 100vh;
  position: relative; }

.navbar-dark .navbar-brand {
  font-size: 2rem;
  color: #00bc8c; }
  .navbar-dark .navbar-brand:hover {
    color: #028060; }

.intro-content {
  max-width: 50%;
  margin: 0 auto;
  text-align: center; }
  .intro-content h2 {
    font-size: 6rem;
    display: block;
    max-width: 480px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px; }
    .intro-content h2 span {
      color: #fff;
      font-size: 1.5rem;
      display: block;
      position: absolute;
      left: 15px;
      top: 106px; }

.video-container {
  position: absolute;
  bottom: 0;
  width: 100%; }

.video-content {
  width: 100%;
  position: relative; }
  .video-content .text-content {
    top: 0;
    padding: 45px 60px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff; }
    .video-content .text-content h3 {
      font-size: 2rem;
      text-transform: uppercase;
      margin-top: 40px;
      text-align: center; }
    .video-content .text-content svg {
      display: block;
      margin: 10px auto 0; }
  .video-content .img-content {
    max-width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .video-content .img-content img {
      display: block;
      width: 100%; }
  .video-content a img {
    transition: transform .2s; }
  .video-content a:hover img {
    transform: scale(1.3); }

video {
  height: auto;
  max-width: 100%; }

.playerWrapper {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.expand-title {
  opacity: 1;
  max-height: 320px;
  overflow: hidden;
  position: relative; }

/* Safari 4.0 - 8.0 */
.left-content {
  height: 100%;
  position: relative; }

.modal-title {
  font-size: 1.5rem; }

.modal-complementar .modal-body li {
  margin-bottom: 10px; }

.modal-complementar .modal-body ul li ol {
  margin-top: 10px; }

.modal {
  z-index: 1100; }

.modal-timeline .modal-body > h6:before {
  content: '\2022';
  float: left;
  padding-right: 7px; }

.modal-timeline .modal-body p {
  padding-left: 15px; }

.modal-timeline .modal-body > ul > li {
  margin-bottom: 25px; }
  .modal-timeline .modal-body > ul > li p {
    padding-left: 0; }
