/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative; }

.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #999;
  left: 50%;
  margin-left: -1.5px; }

.timeline-item {
  margin-bottom: 20px;
  position: relative; }
  .timeline-item:after, .timeline-item:before {
    content: "";
    display: table; }
  .timeline-item:after {
    clear: both; }
  .timeline-item .timeline-badge {
    color: #fff;
    width: 9px;
    height: 9px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 20%;
    margin-left: -25px;
    background-color: #7c7c7c;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; }
  .timeline-item:last-child:nth-child(even) {
    float: right; }

.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 5px 0px 5px 0px;
  display: flex;
  margin: 15px 0 30px;
  width: 100%; }
  .timeline-horizontal:before {
    height: 1px;
    top: auto;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 100%; }
  .timeline-horizontal .timeline-item {
    height: 25px;
    width: 20%;
    padding-left: 0px;
    padding-right: 20px;
    margin: 0 auto; }
    .timeline-horizontal .timeline-item:before, .timeline-horizontal .timeline-item:after {
      display: none; }
    .timeline-horizontal .timeline-item .timeline-badge {
      top: auto;
      bottom: 6px;
      left: 43px;
      cursor: pointer; }
      .timeline-horizontal .timeline-item .timeline-badge:hover {
        background-color: #535353; }
  .timeline-horizontal .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }

@-webkit-keyframes flash {
  from,
  50%,
  to {
    background-color: #535353; }
  25%,
  75% {
    background-color: #007bff; } }

@keyframes flash {
  from,
  50%,
  to {
    background-color: #535353; }
  25%,
  75% {
    background-color: #007bff; } }

.tooltip-inner {
  color: #4e4e4e;
  cursor: pointer; }
  .tooltip-inner:hover {
    color: #fff; }
