<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_1" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_1">Agente Indígena de Saúde</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ele acompanha as famílias que moram em sua área de abrangência, detecta problemas de saúde, acompanha tratamentos de longa duração. (Fonte: Revista Poli - saúde, educação e trabalho número 10, de março/abril de 2010.)</p>
                <p><a href="assets/docs/texto05.pdf" target="_blank">Leia o texto Agente Indígena de Saúde</a> para saber mais a respeito desse importante profissional da saúde.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_2" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_2">Tuxaua</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>De forma a garantir a harmonia com o todo. A liderança do Tuxaua se caracteriza pela forma consensual como é exercida.
Chefe, cacique, pajé.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_3" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_3">Agente Comunitário de Saúde (ACS)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>auxiliando-as no autocuidado, por meio de ações individuais e coletivas, sob a supervisão direta de um profissional de nível superior, conforme a Portaria No 2.436, de 21 de setembro de 2017.</p>
                <p>A Portaria No 2.436, de 21 de setembro de 2017 redefiniu as atribuições do Agente Comunitário de Saúde (ACS) e instituiu um outro tipo de agente – o Agente de Combate às Endemias (ACE) que realiza atividades em comum com o ACS e outras específicas.</p>
                <p>Conheça as atribuições do Agente Comunitário de Saúde (ACS) estabelecidas na<a href="assets/docs/texto06.pdf" target="_blank"> Portaria No 2.436</a> e também as atribuições específicas do Agente de Combate às Endemias (ACE) acessando o texto  Agente Comunitário de Saúde e Agente de Combate às Endemias.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_4" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_4" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_4">Sistema Único de Saúde (SUS)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Para saber mais leia os textos:</p>
                <ul>
                    <li><a href="assets/docs/texto07.pdf" target="_blank">O sistema único de Saúde (SUS )</a>;</li>
                    <li><a href="assets/docs/texto08.pdf" target="_blank">As competências do SUS – Art. 200 da Constituição Federal de 1988</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_5" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_5" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_5">Equipe de Saúde da Família</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A Equipe de Saúde da Família é uma equipe multiprofissional composta por, no mínimo:</p>
                <ul>
                    <li>Médico: generalista, especialista em Saúde da Família ou médico de Família e Comunidade;</li>
                    <li>Enfermeiro generalista ou especialista em Saúde da Família;</li>
                    <li>Auxiliar ou técnico de enfermagem</li>
                    <li>Agentes Comunitários de Saúde (ACS)</li>
                    <li>Agentes de Combate às Endemias (ACE)</li>
                </ul>
                <p>Pode contar ainda com profissionais de saúde bucal:</p>
                <ul>
                    <li>Cirurgião-dentista generalista ou especialista em Saúde da Família</li>
                    <li>Auxiliar e/ou técnico em saúde bucal.</li>
                </ul>
                <p><a href="assets/docs/texto09.pdf" target="_blank">Acesse aqui</a> um texto que lhe permitirá conhecer um pouco mais a respeito das Equipes de Saúde da Família. A Política Nacional da Atenção Básica ao detalhar a infraestrutura e funcionamento da Atenção Básica à Saúde (ABS) dispõe a respeito do processo de trabalho e das atribuições dos membros das equipes. Acesse a Portaria 2.346 de 21 de setembro de 2017 que apresenta a versão mais recente dessa Política.</p>
                <p>Acesse a <a href="assets/docs/texto09a.pdf">Portaria 2.346 de 21 de setembro de 2017 </a>que apresenta a versão mais recente dessa Política.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_6" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_6" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_6">Estratégia de Saúde da Família</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Trata-se de estratégia de expansão, qualificação e consolidação da ABS.  Ela favorece uma reorientação do processo de trabalho, possibilitando o aprofundamento dos princípios, diretrizes e fundamentos da ABS. Esta estratégia visa a ampliação da resolutividade e o impacto na situação de saúde das pessoas e coletividades, além de propiciar uma otimização dos recursos empregados. Possui como base a Equipe de Saúde da Família (eSF) que é o modelo prioritário. A gestão municipal poderá ainda manter uma Equipe de Atenção Básica (eAB).</li>
                <li>Esteja atento às siglas:</p>
                <ul>
                    <li>ESF  – significa Estratégia de Saúde da Família</li>
                    <li>eSF  – significa equipe de Saúde da Família.</li>
                    <li>eAB  – significa equipe de Atenção Básica.</li>
                </ul>
                <p>As competências do SUS – Art. 200 da Constituição Federal de 1988.</p>
                <p>Leia o texto <a href="assets/docs/texto10.pdf" target="_blank">Estratégia de Saúde da Família</a></p>
                <p>A Política Nacional da Atenção Básica (PNAB) aborda as especificidades da Estratégia da Saúde da Família (ESF) e da Equipe de Saúde da Família (eSF). O documento trata, ainda, das regras de financiamento da ABS.Acesse a íntegra da Política - Portaria 2.346 de 21 de setembro de 2017.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_7" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_7" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_7">Atenção Básica à Saúde</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A Atenção Básica à Saúde (ABS), também conhecida como Atenção Primária (AP), constitui um conjunto de ações de atendimento individual e coletivo e tem como objetivo resolver os problemas de saúde mais relevantes e frequentes para a população e que, por isso, consiste no primeiro nível de atenção dos sistemas de saúde. É considerada a porta de entrada do usuário no Sistema de Saúde.</p>
                <p>O Brasil possui uma Política de Atenção Básica (PNAB).</p>
                <p>Para aprofundar seus conhecimentos acesse o texto: <a href="assets/docs/texto11.pdf">Atenção Básica à Saúde</a>.</p>
                <p>Conheça também as dificuldades à sua implantação acessando o capítulo  Desafios que condicionam o desenvolvimento da Atenção Básica e a criação de políticas que buscam enfrentá-los  na publicação do Ministério da Saúde:<a href="assets/docs/texto11a.pdf">  2 anos Programa Mais Médicos em anexo.</a></p>
                <p>Conheça a Política Nacional de Atenção Básica no<a href="assets/docs/texto12.pdf" target="_blank"> texto </a>que leva o seu nome e acessando a Portaria No 2.436 de 21 de setembro de 2017 que estabelece a revisão de diretrizes para a organização da Atenção Básica, no âmbito do SUS.</p>
                <p>Veja o<a href="assets/docs/texto13.pdf" target="_blank"> Quadro Nº 1 </a>que mostra algumas das principais alterações entre as Portarias que orientam a AB e suas possíveis consequências, segundo a análise de especialistas em Saúde Coletiva.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_8" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_8" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_8">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Leia o texto <a href="assets/docs/texto14.pdf">Seminário da Escassez.</a></p>
                <p>Leia o<a href="assets/docs/texto14a.pdf"> Relatório Síntese - Seminário Nacional Sobre Escassez, Provimento e Fixação de Profissionais de Saúde em Áreas Remotas e de Maior Vulnerabilidade.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_9" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_9" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_9">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><a href="assets/docs/texto15.pdf" target="_blank">Veja o Infográfico</a> que apresenta como ocorre a competição entre os municípios e sua relação com a alta rotatividade dos médicos.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_10" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_10" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_10">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A oferta de condições de trabalho adequadas constitui uma das propostas do Programa que fortaleceu o Programa Requalifica UBS,  uma das estratégias do Ministério da Saúde para a estruturação e o fortalecimento da Atenção Básica, inserindo-o no Eixo de Infraestrutura do PMM. O programa tem como objetivo criar incentivo financeiro para a reforma, ampliação e construção de UBS. Envolve também ações que visam à informatização dos serviços e a qualificação da atenção à saúde desenvolvida pelos profissionais da equipe. Tudo isso visando a oferta de condições para que as equipes ofereçam atendimentos de qualidade.</p>
                <p>Você poderá entender melhor o Programa Requalifica UBS lendo o <a href="assets/docs/texto15a_requalifica_ubs.pdf" target="_blank">Manual Instrutivo</a>.</p>
                <p>O Programa Requalifica UBS prevê a construção de Unidade Fluvial Básica de Saúde para atender a populações ribeirinhas em locais de difícil acesso. Você poderá conhecer como funcionam as UBS fluviais <a href="http://www.redehumanizasus.n et/66937-voce-conhece-as-ubs -fluviais" target="_blank">clicando aqui</a>. Acesse o Infográfico Eixo de Infraestrutura.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_11" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_11" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_11">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Acesse o infográfico<a href="assets/docs/texto16.pdf" target="_blank"> Objetivos do Programa Mais Médico.</a></p>
                <p>Decidida a criação do Programa foi elaborada uma <a href="assets/docs/texto16a.pdf" target="_blank">Exposição de Motivos Interministerial da Medida Provisória do Programa Mais Médicos</a> envolvendo Ministério da Saúde, Ministério da Educação e Ministério Público - EMI 00024/2013 MS MEC MP de 06 de julho de 2013, disponível aqui para seu conhecimento.</p>
                <p>Em 8 de julho de 2013 foi editada a <a href="assets/docs/texto16b.pdf" target="_blank">Medida Provisória N° 621</a>, que dispõe sobre o Programa Mais Médicos e pode ser acessada aqui.</p>
                <p>Também em 08 de julho de 2013 foi editada a <a href="assets/docs/texto16c.pdf" target="_blank">Portaria Interministerial No 1.369</a>, de 8 de julho de 2013 - Dispõe sobre a implementação do Projeto Mais Médicos para o Brasil."</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_12" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_12" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_12">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>O Programa Mais Médicos denomina o Provimento Emergencial de Projeto Mais Médicos para o Brasil  (PMMB) que tem como objetivo prover profissionais para atuação na Atenção Básica do SUS em regiões de maior necessidade, maior vulnerabilidade e dificuldade de atrair e fixar médicos.</p>
                <p>Para aprofundar esse tema você pode:</p>
                <ul>
                    <li>Acessar o infográfico <a href="assets/docs/texto17.pdf" target="_blank">Processo de criação do PMM</a>.</li>
                    <li>Acessar a <a href="assets/docs/texto17a.pdf" target="_blank">LEI No 12.871  de 22 de outubro de 2013 – Lei do Mais Médicos</a> - institui o Programa Mais Médicos, altera as Leis nº.  8.745, de 9 de dezembro de 1993 e nº. 6.932, de 7 de julho de 1981 e dá outras providências.</li>
                    <li>Acessar o livro do Ministério da Saúde: <a href="assets/docs/texto11a.pdf" target="_blank">Dois anos do Programa Mais Médicos</a>.</li>
                    <li>Leia o relato de experiência <a href="assets/docs/texto18.pdf" target="_blank">Posicionamento das entidades médicas acerca das mudanças na formação médica proporcionadas pela Lei 12.871/2013 </a>que instituiu o Programa Mais Médicos.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_13" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_13" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_13">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Conheça melhor essa desigualdade analisando o infográfico sobre a <a href="assets/docs/" target="_blank">Distribuição dos Médicos no País em 2011</a>.</p>
                <p>Veja também o cenário da <a href="assets/docs/" target="_blank">Desassistência médica no Brasil constante da Cartilha do Mais Médicos</a>, p. 10 e 11</p>
                <p>Leia o Relato de experiência: <a href="assets/docs/" target="_blank">Posicionamento das Entidades Médicas acerca das mudanças na formação médica proporcionadas pela Lei 12.871/2013 que instituiu o Programa Mais Médicos</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_14" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_14" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_14">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Leia o <a href="assets/docs/" target="_blank">Art. 6o e os Artigos de 196 a 200</a> que tratam da Saúde na Constituição Brasileira de 1988.</p>
                <p>Abra o infográfico <a href="assets/docs/" target="_blank">Frentes Prioritárias do Programa Mais Médicos</a> para obter uma visão global da proposta do Programa.</p>
            </div>
        </div>
    </div>
</div>

{% include "includes/modals/related_docs.html" %}