<div class="modal fade hv-modals modal-timeline" id="modalDate-1988" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_1">1988</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>5 de outubro de 1988:</h6>
                <p>Promulgada a Constituição Federal de 1988 que instituiu o Sistema Único de Saúde.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-1990" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_2">1990</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>19 de setembro de 1990:</h6>
                <p> Foi promulgada a Lei 8080 que regula, em todo o território nacional, as ações e serviços de saúde, executados isolada ou conjuntamente, em caráter permanente ou eventual, por pessoas naturais ou jurídicas de direito Público ou privado.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2011" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_3">2011</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>14 setembro de 2011:</h6>
                <p><a href="http://bvsms.saude.gov.br/bvs/sau delegis/gm/2011/prt2206_14_09_ 2011_rep.html" target="_blank">PORTARIA No 2.206 - Institui, no âmbito da Política Nacional de Atenção Básica, o Programa de Requalificação de Unidades Básicas de Saúde e o respectivo Componente Reforma.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2012" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_4" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_4">2012</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Abril de 2012:</h6>
                <p>Seminário Nacional Sobre Escassez, Provimento e Fixação de Profissionais de Saúde em Áreas Remotas e de Maior Vulnerabilidade.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2013" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_5" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_5">2013</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        <h6>14 de fevereiro de 2013:</h6>
                        <p>Frente Nacional dos Prefeitos lança Petição Eletrônica pedindo a contratação de médicos estrangeiros <a href="http://cadeomedico.blogspot.com.br" target="_blank">http://cadeomedico.blogspot.com.br</a></p>
                    </li>
                    <li>
                        <h6>04 de março de 2013:</h6>
                        <p>Portarias regulamentam o Requalifica UBS:</p>
                        <ul>
                            <li>Portaria no 341- Reforma</li>
                            <li>Portaria no 340 - Construção - Portaria no 339 - Ampliação</li>
                        </ul>
                    </li>
                    <li>
                        <h6>6 de julho de 2013:</h6>
                        <p>Exposição de Motivos da Medida Provisória -EMI no 00024/2013 MS MEC</p>
                    </li>
                    <li>
                        <h6>8 de julho de 2013:</h6>
                        <ul>
                            <li>Medida Provisória No 621 de 2013  –  Dispõe sobre o Programa Mais Médicos.</li>
                            <li>Portaria Interministerial No 1.369 - Dispõe sobre a implementação do Projeto Mais Médicos para o Brasil.</li>
                        </ul>
                    </li>
                    <li>
                        <h6>22 de outubro de 2013:</h6>
                        <p>Lei 12.871 – Lei do Mais Médicos que instituiu o Programa Mais Médicos.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>