<div class="modal fade hv-modals modal-timeline" id="modalDate-1906" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_1">1906 - 1910</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Flexner: elaboração de proposta curricular padrão para formação médica nos Estados Unidos.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-1968" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_2">1968</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Reforma universitária – adota a proposta americana.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-1988" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_3">1988</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Criação do SUS - elege a Atenção Básica como porta de entrada principal do Sistema, evidencia a necessidade de novo perfil de médico.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-1998" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_4" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_4">1998</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    A Universidade de Campinas (Unicamp) inicia a reforma curricular do curso de medicina, implantada em 2001.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2003" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_5" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_5">2003</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Diretrizes Curriculares Nacionais para o Curso de Medicina – recomendam a formação de um novo médico.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2013" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_6" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_6">2013</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>22 de outubro</h6>
                <p>
                    Lei no 12.871 define as condições de contratação dos médicos do PMMB e estabelece as condições e vantagens oferecidas a eles.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2014" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_7" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_7">2014</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>20 de junho</h6>
                <p>
                    Resolução No 3 Institui Diretrizes Curriculares Nacionais do Curso de Graduação em Medicina, obrigatórias para os novos cursos, devendo os já existentes se adequarem a ela até 2016.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2015" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_8" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_8">2015</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>04 de agosto</h6>
                <p>
                    Portaria Interministerial No 1.127 - Institui as diretrizes para a celebração dos Contratos Organizativos de Ação Pública Ensino-Saúde (COAPES), para o fortalecimento da integração entre ensino, serviços e comunidade no âmbito do Sistema Único de Saúde (SUS).
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2016" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_9" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_9">2016</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>12 de setembro</h6>
                <p>
                    Lei 13.333 de estabelece a continuidade do PMM por mais três anos, com a permanência dos médicos cooperados.
                </p>
            </div>
        </div>
    </div>
</div>
