<div class="modal fade hv-modals modal-timeline" id="modalDate-2013" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_1">2013</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>8 de julho de 2013</h6>
                <p>
                    Edital SGTES/MS no 39 - Chamada dos Médicos – 1o Ciclo<br><br>
                </p>

                <h6>04 de novembro de 2013</h6>
                <p>
                    Chegada a Brasília do primeiro grupo de médicos do PMM.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-timeline" id="modalDate-2014" tabindex="-1" role="dialog" aria-labelledby="modalDateLabel_2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDateLabel_2">2014</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>21 de janeiro de 2014</h6>
                <p>
                    Portaria Conjunta no 1, dos Ministérios da Educação e da Saúde que "Dispõe sobre o Módulo de Acolhimento e Avaliação de Médicos Intercambistas nas ações educacionais e de aperfeiçoamento desenvolvidas no âmbito do Projeto Mais Médicos para o Brasil."
                </p>
            </div>
        </div>
    </div>
</div>