<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_1" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_1">Link para outros vídeos no Saiba mais.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Veja alguns vídeos que registram a cerimônia do Lava pés realizada pelos alunos e professores de Medicina em Caruaru de 2014 a 2017 nos links que se seguem.
                </p>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=vzTW-wDJW3M" target="_blank">Dia "L" - Campanha Lava Pés 2014.</a>
                    </li>
                    <li>Caruaru realiza
                        <a href="https://www.youtube.com/watch?v=UD5uyGI8Y6E" target="_blank"> Campanha Lava Pés no Marco Zero.</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=x7sIVGfkTPw" target="_blank">Cena emocionante </a>em que o professor Izaias Junior, do curso de medicina da UFPE de Caruaru, convenceu uma senhora a cuidar do diabetes, apesar de todo sofrimento que a vida lhe trouxe.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_2" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_2">Paradigma</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Um dos conceitos de paradigma mais aceitos é o de Khun, que define paradigma como "constelação de crenças, valores e teorias, partilhadas pelos membros de uma sociedade científica". A comunidade científica e a sociedade em geral atuam de acordo com um conjunto de crenças, valores, teorias, práticas e instrumentos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_3" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_3">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Veja o
                    <a href="assets/docs/texto56.pdf" target="_blank"> infográfico </a>
                    que apresenta a proposta curricular de Flexner para formação médica e compare essa proposta tradicional com a proposta expressa nas Novas Diretrizes Curriculares Nacionais.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_4" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_4" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_4">Eixo Formação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veja a seguir o
                    <a href="assets/docs/texto57.pdf" target="_blank"> infográfico </a>que apresenta os Principais Objetivos do Eixo de Formação do Programa Mais Médicos.
                </p>
                <p>Veja também o
                    <a href="assets/docs/texto58.pdf" target="_blank"> texto </a>
                    que apresenta uma síntese do Eixo de Formação do Programa Mais Médicos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_5" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_5" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_5">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veja como é o processo de abertura de novos cursos de Medicina acessando o
                    <a href="assets/docs/texto59.pdf" target="_blank"> infográfico</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_6" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_6" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_6">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Metodologias ativas visam estimular o interesse do estudante de forma a aprofundar o estudo, a pesquisar, refletir e analisar alternativas para tomada de decisão, assumir a responsabilidade pela própria aprendizagem. As disciplinas passam a ser estudadas integradas, permitindo ao estudante desenvolver uma visão ampliada e significativa do tema. As metodologias ativas são caminhos para avançar na construção do conhecimento, na vivência de novas práticas e no desenvolvimento de competências socioemocionais.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_7" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_7" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_7">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Um Laboratório Morfofuncional (LMF) é um espaço destinado ao estudo integrado das diferentes áreas do conhecimento em saúde e serve de local para a aquisição do conhecimento diferenciado mediante a aplicação de novas metodologias de ensino-aprendizagem.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_8" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_8" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_8">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    O Laboratório de Sensibilidades, Habilidades e Expressão consiste em ambiente estruturado para possibilitar a realização de estratégias de desenvolvimento pessoal e profissional voltadas à vivência de relações interpessoais de qualidade. Visa possibilitar aos participantes vivenciarem processos de grupo voltados ao enfrentamento de problemas de relacionamento, com vistas ao desenvolvimento da flexibilidade e sensibilidade social, ou seja, da capacidade de empatia, da expressão de sentimentos e ideias, aprimorando habilidades de comunicação, o respeito, o cuidado com o outro e o autoconhecimento.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_9" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_9" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_9">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    PBL é a sigla usada para a metodologia de Aprendizado Baseado em Problemas, do inglês Problem-Based Learnin g que se baseia na solução problemas reais, factíveis, relacionados ao tema em estudo, para possibilitar uma aprendizagem mais significativa. Nessa metodologia o estudante realiza atividades individuais e em grupo, visando identificar fundamentos teóricos, técnicas, recursos, experiências etc. relacionados ao tema e desenvolvendo estratégias para solucionar o problema apresentado.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_10" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_10" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_10">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    A inserção no campo de prática recomendada pelas Novas Diretrizes Curriculares Nacionais do Curso de Medicina significa que o estudante de Medicina deve desde o início do curso participar de atividades práticas nos ambientes em que ocorrem as ações do Sistema de Saúde: as unidades básicas de saúde, as emergências, os domicílios onde ocorrem etc. para que possa ter contato real com o futuro campo de atuação.
                </p>
                <ul>
                    <li>Acesse um
                        <a href="assets/docs/texto60.pdf" target="_blank"> Quadro </a>
                        que apresenta um conjunto de Metodologias Ativas adequadas para a formação médica.
                    </li>
                    <li>
                        Acesse, também, o texto
                        <a href="assets/docs/texto61.pdf" target="_blank"> Laboratório Morfofuncional.</a>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_11" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_11" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_11">Autonomia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    As regras não são mais ditadas por um elemento externo, mas emanam da coletividade de forma cooperativa e racional. Impera o respeito ao outro. As leis e as regras constituem opções feitas na convivência social por meio da autodeterminação. É o estado de autoconsciência, que envolve o respeito a si próprio e o reconhecimento do outro como ele mesmo, por inteiro.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_12" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_12" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_12">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Acesse o texto
                        <a href="assets/docs/texto62.pdf" target="_blank"> Organização dos Serviços de Saúde/ Níveis de Atenção em Saúde </a>
                        para conhecer os níveis de Atenção à Saúde no Sistema único de Saúde (SUS) brasileiro.
                    </li>
                    <li>Leia o relato de experiência:
                        <a href="assets/docs/texto63.pdf" target="_blank"> “Nunca Dantes”- mais médicos e mais SUS na formação: Graduação inovadora em medicina sobre a implantação do curso de Medicina em Chapecó (SC).</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_13" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_13" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_13">COAPES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Para estudantes de graduação e/ou residência. Participam também as instituições de ensino que possuem cursos de graduação na área da saúde e programas de residência médica e multiprofissional interessados em discutir e qualificar a inserção do estudante na rede e a integração ensino e serviço.
                </p>
                <p>Acesse o
                    <a href="#" target="_blank"> Manual do COAPES</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_14" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_14" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_14">COAPES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <p>
                        A residência médica corresponde a uma especialização lato sensu e se caracteriza por ser uma modalidade de treinamento em serviço em que ocorre:
                    </p> 
                    <ol>
                        <li>Predomínio de atividades práticas;</li>
                        <li>Existência de legislação própria;</li>
                        <li>Certificação do médico para exercer determinada especialidade.</li>
                    </ol>
                    <p>
                        A Residência em Medicina Geral de Família e Comunidade (MGFC) foi definida pelo Programa Mais Médicos como o centro da especialização do médico no Brasil, preparando o profissional para atuar em Urgência, Atenção Domiciliar, Saúde Mental, Educação Popular em Saúde e Saúde Coletiva.
                    </p>
                    <p>Quer saber um pouco mais a respeito da Residência em Medicina Geral de Família e Comunidade (MGFC)?
                        <a href="assets/docs/texto64.pdf" target="_blank"> Leia o texto.</a>
                    </p>
                    <p>
                        Veja também o que dispõe a Lei do Mais Médicos sobre o tema.
                    </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_15" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_15" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_15">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Leia o texto Vantagens oferecidas aos Médicos do PMM.
                </p>
                <p>Acesse a
                    <a href="http://portal.mec.gov.br/component/content/article?id=13375:legislacao-fies" target="_blank"> Legislação do FIES</a>
                </p>
                <p>Veja o infográfico
                    <a href="assets/docs/texto65.pdf" target="_blank"> Benefícios oferecidos pelo PROVAB incorporados pelo Mais Médicos.</a>
                </p>
                <p>Veja também o texto
                    <a href="assets/docs/texto66.pdf" target="_blank"> Vantagens oferecidas ao médico do PMM.</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_16" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_16" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_16">Formação em serviço</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Processo de apropriação de conhecimentos e desenvolvimento de competências necessários ao exercício profissional, que utiliza o ambiente profissional como espaço de reflexão e intervenção, de socialização de experiências e de (re)construção de identidades e práticas para a formação. Supõe o profissional capaz de gerenciar a própria formação, vivenciando de forma deliberada e consciente a construção de sua autonomia profissional.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_17" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_17" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_17">Preceptoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Preceptoria é a ação de acompanhar e orientar na educação de algum conhecimento, seja ele das áreas de saúde, humanas, social ou qualquer outra. Na área médica o preceptor é um profissional com formação completa na área encarregado orientar e supervisionar o desenvolvimento do médico residente na especialidade ou de acompanhar os estudantes de graduação nas atividades práticas de atendimento.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_18" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_18" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_18">Saúde do território</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    O território pode ser entendido como espaço delimitado geograficamente, por meio de critérios de geoprocessamento. Na saúde, no entanto, assume uma definição mais complexa, ou seja, como relações sociais projetadas em determinado espaço, constituindo-se de relações humanas, de poder, em determinado tempo histórico, tornando-se intimamente correlacionado ao contexto. Entende-se, portanto, que o território da saúde não é só físico ou geográfico: é o trabalho ou a localidade.
                </p>
                <p>Leia o texto
                    <a href="assets/docs/texto67.pdf" target="_blank"> Definição do território e Territorialização de acordo com a Lei No 2.024 de 2017.</a>
                </p>
                <p>Analise o 
                    <a href="assets/docs/texto68.pdf" target="_blank">infográfico </a>
                    que mostra importantes mudanças de foco na nova abordagem de saúde.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_19" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_19" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_18">-</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <a href="assets/docs/texto69.pdf" target="_blank">Criação e expansão das residências médicas e multiprofissionais no brasil - desdobramentos do Programa Mais Médicos no Rio Grande do Sul</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% include "includes/modals/related_docs.html" %}