<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_1" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_1">Acolhimento no Programa Mais Médicos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Os profissionais recebem orientações a respeito da legislação, característica e especificidades importantes para atuação nos serviços de saúde da Atenção Básica do Sistema Único de Saúde, da comunicação em português e do perfil epidemiológico e cultural das regiões em que irão atuar. Após serem avaliados e demonstrarem aproveitamento nesse primeiro módulo se dirigem às áreas para as quais foram alocados.</p>
                <p>Veja no <a href="assets/docs/texto22.pdf" target="_blank">Infográfico</a> como é o processo de Acolhimento do Ministério da Saúde.</p>
                <p>Leia a<a href="assets/docs/"> Portaria Conjunta no 1, de 21 de janeiro de 2014, dos Ministérios da Educação e da Saúde  </a>que “Dispõe sobre o Módulo de Acolhimento e Avaliação de Médicos Intercambistas nas ações educacionais e de aperfeiçoamento desenvolvidas no âmbito do Projeto Mais Médicos para o Brasil.</p>
                <p>Leia o<a href="assets/docs/texto23.pdf" target="_blank"> relato de experiência: Acolhimento Mais Médicos em Brasília, uma experiência para toda a vida.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_2" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_2">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veja o<a href="#" target="_blank"> relato </a>da médica cubana Adis Núbia sobre a chegada ao município.</p>
                <p>Veja também os relatos:</p>
                <ul>
                    <li><a href="assets/docs/texto24.pdf" target="_blank">Aprendendo com o que nos separa, fortalecendo o que nos liga: </a>uma experiência de acolhimento no programa Mais médicos no Rio Grande do Norte.</li>
                    <li><a href="assets/docs/texto25.pdf" target="_blank">Acolhimento do Mais Médico na ESF-Breno de Medeiros e seu entrosamento com a equipe </a>-  que narra como foi essa experiência de chegada do médico e seu impacto sobre a equipe</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_3" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_3" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_3">O Agente Comunitário de Saúde</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veja o<a href="assets/docs/texto26.pdf" target="_blank"> infográfico </a>que mostra as ligações estabelecidas pelo Agente Comunitário de Saúde (ACS).</p>
                <p>Leia o texto<a href="assets/docs/texto27.pdf" target="_blank"> O Agente Comunitário de Saúde.</a></p>
                <p>Conheça as atribuições do ACS e do ACE na íntegra acessando a<a href="#" target="_blank"> Portaria no 2.436, de 21 de setembro de 2017.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_4" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_4" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_4">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <p>Veja o<a href="assets/docs/texto28.pdf" target="_blank"> infográfico </a>que mostra os vínculos estabelecidos na Atenção Básica à Saúde.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_5" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_5" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_5">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veja o<a href="assets/docs/texto29.pdf" target="_blank"> infográfico </a>que apresenta e Ordem de Prioridade na seleção e ocupação das vagas de acordo com a Lei do Mais Médicos.</p>
                <p>A contratação de médicos estrangeiros é uma prática comum para o enfrentamento da escassez do profissional em todo o mundo.Conheça a proporção de médicos estrangeiros em atuação nos países de referência em 2011 ,acessando o<a href="assets/docs/texto30.pdf" target="_blank"> infográfico </a>sobre o tema.</p>
                <p>Veja também uma<a href="assets/docs/texto31.pdf" target="_blank"> síntese das Regras estabelecidas no Código Global de Práticas para Recrutamento Internacional de Profissionais da Saúde da Organização Mundial da Saú de (OMS – 2010).</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_6" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_6" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_6">Unidade Básica de Saúde</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>As UBS devem ser instaladas perto de onde as pessoas moram, trabalham, estudam e vivem. Assim, a UBS é a principal porta de entrada do Sistema Único de Saúde (SUS).</p>
                <p>Veja o<a href="assets/docs/texto32.pdf" target="_blank"> infográfico Unidade Básica de Saúde </a>- Atividades típicas.</p>
                <p>Veja também o texto<a href="assets/docs/texto33.pdf" target="_blank"> Equipe de Saúde da Família que mostra a importância da presença do médico na equipe.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_7" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_7" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_7">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Que consiste em importante eixo prioritário do programa Mais Médicos, o Eixo de Infraestrutura.</p>
                <p>Veja a seguir um<a href="assets/docs/texto34.pdf" target="_blank"> infográfico </a>que mostra como é o processo de abertura do edital para os municípios que podem receber médicos do PMM.</p>
                <p>Veja também o<a href="assets/docs/texto35.pdf" target="_blank"> infográfico </a>que apresenta quais são as Prioridades dos municípios para receber o PMM.</p>
                <p>Conheça os<a href="assets/docs/texto36.pdf" target="_blank"> compromissos </a>do município para receber o médico do PMM.</p>
                <p>Acesse o<a href="assets/docs/texto37.pdf" target="_blank"> Infográfico Eixo de Infraestrutura.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_8" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_8" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_8">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>que pode estar localizado em uma aldeia ou em um município próximo, no qual se estrutura a Atenção Básica à Saúde do indígena.</p>
                <p>Os Distritos Sanitários Especiais Indígenas (Dseis) constituem uma estrutura essencial ao desenvolvimento das ações de Saúde Indígena no Brasil.</p>
                <p>Para saber mais sobre eles:</p>
                <ul>
                    <li>Leia o<a href="assets/docs/texto38.pdf" target="_blank"> texto Distritos Sanitários Especiais Indígenas (Dseis).</a></li>
                    <li>Veja o<a href="assets/docs/texto39.pdf" target="_blank"> Infográfico </a>que mostra como é a organização de um DSEI.</li>
                    <li>Veja também o<a href="assets/docs/texto40.pdf" target="_blank"> mapa </a>da distribuição dos 34 DSEIs no território brasileiro. </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_9" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_9" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_9">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Conheça como funciona a atenção à Saúde do Indígena no Brasil lendo os textos:</p>
                <ul>
                    <li><a href="assets/docs/texto41.pdf" target="_blank">Subsistema de Atenção à Saúde Indígena – SASAI</a></li>
                    <li><a href="#" target="_blank">Cartilha sobre Saúde Indígena.</a></li>
                    <li>Leia o relato de experiência:<a href="assets/docs/texto42.pdf" target="_blank"> A supervisão acadêmica em território indígena: o fazer e aprender do Projeto Mais Médicos para o Brasil.</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_10" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_10" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_10">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><a href="assets/docs/texto19.pdf" target="_blank">Clique aqui </a>se quiser rever o infográfico que apresenta os percentuais da distribuição dos médicos no Brasil em 2011.</p>
                <p>Acesse a<a href="assets/docs/texto43.pdf" target="_blank"> Tabela 1 </a>para conhecer os números de médicos por estado em 2011.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_11" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_11" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_11">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <p>
                   Os médicos participam de um curso de especialização em Atenção Básica à Saúde, oferecido pelas instituições de educação superior brasileiras vinculadas ao Sistema Universidade Aberta do SUS (UNA-SUS).
               </p>
                <p>Veja o que dispõe a
                    <a href="assets/docs/texto44.pdf" target="_blank"> Lei do Mais Médicos a respeito do Aperfeiçoamento dos profissionais do Programa.Analise a Política de Educação Permanente em Saúde.</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_12" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_12" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_12">Supervisor pedagógico do PMM</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Compete ao supervisor acompanhar e orientar a formação dos médicos para atuação no Sistema de Saúde brasileiro e essa supervisão ocorre em serviço. O trabalho do supervisor depende da relação estabelecida com os médicos participantes e o comprometimento, o apoio e a parceria tornam-se essenciais à qualidade dessa relação.
                </p>
                <p>Conheça as competências do supervisor no PMM acessando o texto
                    <a href="assets/docs/texto45.pdf" target="_blank"> Responsabilidades do supervisor no Programa Mais Médicos. </a>
                </p>
                <p>Leia o relato de experiência :
                    <a href="assets/docs/texto46.pdf" target="_blank"> A Educação permanente transversalizada nas ações de tutoria e supervisão do Projeto Mais Médicos para o Brasil. </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_13" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_13" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_13">Tutor no PMM</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Ele é responsável pela orientação acadêmica e pelo planejamento das atividades do supervisor – que acompanhará periodicamente o trabalho dos médicos do Programa.
                </p>
                <p>Conheça as competências do tutor no PMM acessando o
                    <a href="assets/docs/texto47.pdf" target="_blank"> texto: Responsabilidades do tutor no Programa Mais Médicos.</a>
                </p>
                <p>Leia o relato de experiência:
                    <a href="assets/docs/texto48.pdf" target="_blank"> Mais Médicos: afetações de uma tutora em movimento. </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_14" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_14" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_14">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Relação entre os participantes do PMM no Sistema Ensino Serviço:
                </p>
                <p>
                    Médico participante - submetido ao aperfeiçoamento profissional supervisionado;
                </p>
                <p>
                    Supervisor - profissional médico responsável pela supervisão profissional contínua e permanente do Médico participante. Vinculado a Universidades públicas, hospitais de ensino, escolas de saúde ou programas de residência médica.
                </p>
                <p>
                    Tutor acadêmico - docente médico responsável pela orientação acadêmica. Vinculado a instituições de ensino.
                </p>
                <p>Leia o relato de experiência:
                    <a href="assets/docs/texto49.pdf" target="_blank"> O trabalho em equipe multisaberes das oito referências dos Programas Mais Médicos/PROVAB em SP. </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_15" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_15" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_15">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Veja a importância dos trabalhos de intervenção comunitária analisando os seguintes registros sobre o Projeto da Dra. Maria Cristina de Sierra Neves, em atuação na USF Gilberto Freire – Recife – PE:
                </p>
                <ul>
                    <li>Um projeto de intervenção para contribuir na melhora da adesão da comunidade aos princípios da Prevenção Quaternária na Unidade Saúde Familiar Gilberto Freire, no município do Recife . 2014.
                    <a href="#" target="_blank"> Monografia (Aperfeiçoamento/Especialização em Pós-Graduação Especialização em Saúde da Família) - UNIVERSIDADE ABERTA DO SISTEMA ÚNICO DE SAÚDE.</a>
                    </li>
                    <li>
                        Atendimento atencioso de médicos estrangeiros faz sucesso entre pacientes. Disponível em: <a href="http://jconline.ne10.uol.com.br/canal/cidades/noticia/2015/08/22/atendimento-atencioso-de-medicos-estrangeiros-faz-sucesso-entre-pacientes-195436.php">http://jconline.ne10.uol.com.br/canal/cidades/noticia/2015/08/22/atendimento-atencioso-de-medicos-estrangeiros-faz-sucesso-entre-pacientes-195436.php</a>
                    </li>
                    <li>
                        Estrangeiros do Mais Médicos resgatam os primeiros cuidados: profissionais dedicam mais tempo às consultas, orientam novos hábitos e valorizam uso de planta medicinal: <a href="http://jconline.ne10.uol.com.br/canal/cidades/saude/noticia/2014/07/20/estrangeiros-do-mais-medicos-resgatam-os-primeiros-cuidados-136357.php">http://jconline.ne10.uol.com.br/canal/cidades/saude/noticia/2014/07/20/estrangeiros-do-mais-medicos-resgatam-os-primeiros-cuidados-136357.php</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_16" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_16" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_16">Longitudinalidade e Integralidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Esse vínculo longitudinal facilita a realização de diagnósticos e tratamentos mais precisos, redução dos custos da ABS e tem, como consequência, maior satisfação do usuário.
                </p>
                <p>
                    Para aprofundar esse tema sugere-se a leitura da tese:
                </p>
                <ul>
                    <li> 
                        <a href="http://www.arca.fiocruz.br/xmlui/ bitstream/handle/icict/2587/ENSP _Tese_Cunha_Elenice_ Machado.pdf?sequence=1" target="_blank">Vínculo Longitudinal na Atenção Primária: avaliando os modelos assistenciais do SUS de autoria de Elenice Machado da Cunha.</a>
                        Tese apresentada à Escola Nacional de Saúde Pública Sergio Arouca para obtenção do título de Doutor em Ciências na área de Saúde Pública 
                    </li>
                </ul>
                <p>
                    A integralidade envolve a oferta, de forma articulada e sistêmica em todos os espaços organizacionais do sistema de saúde, de ações de promoção da saúde, prevenção dos fatores de risco, assistência aos danos e reabilitação – segundo a dinâmica do processo saúde-doença. Trata-se de um princípio consagrado pela Constituição de 1988 como um dos pilares do Sistema Único de Saúde, referido como “atendimento integral, com prioridade para as atividades preventivas, sem prejuízo dos serviços assistenciais” (Brasil, 1988).
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_17" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_17" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_17">Longitudinalidade e Integralidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Longitudinalidade e integralidade são princípios da Medicina de Família e Comunidade e da Atenção Básica à Saúde.
                </p>
                <p>
                    <a href="assets/docs/texto50.pdf" target="_blank">Acesse aqui </a>
                    um texto que aborda os Princípios e diretrizes da Atenção Básica definidos na Portaria No 2.436 de 21 de setembro de 2017.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_18" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_18" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_18">Educação Permanente da equipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Seu objetivo é o processo de formação permanente e em serviço dos profissionais desse campo de atuação.
                </p>
                <p>Veja o texto
                    <a href="assets/docs/texto51.pdf" target="_blank"> Educação Permanente em Saúde.</a>
                </p>
                <p>Acesse o documento da
                    <a href="#" target="_blank"> Política de Educação Permanente em Saúde.</a>
                </p>
                <p>Leia o relato sobre uma experiência de Educação Permanente desenvolvida no Município de Marizópolis - PB - MAIS MÉDICOS:
                    <a href="assets/docs/texto52.pdf" target="_blank"> Educação Permanente como ferramenta.</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_19" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_19" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_19">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veja o texto
                    <a href="assets/docs/texto53.pdf" target="_blank"> Evolução do número de médicos que participaram dos ciclos do PMM e seu perfil.</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_20" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_20" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_20">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veja o infográfico
                    <a href="assets/docs/texto54.pdf" target="_blank"> Vínculos na Atenção Básica à Saúde.</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hv-modals modal-complementar" id="modalComplementarContent_21" tabindex="-1" role="dialog" aria-labelledby="titleComplementarContent_21" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleComplementarContent_21">Destaque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veja o infográfico
                    <a href="assets/docs/texto55.pdf" target="_blank"> Programa Mais Médicos - Eixo de Provimento Emergencial.</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% include "includes/modals/related_docs.html" %}