<!-- Modal Related Docs -->
<div class="modal fade hv-modals modal-complementar" id="modalRelatedDocs" tabindex="-1" role="dialog" aria-labelledby="titleRelatedDocs" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleRelatedDocs">Documentos complementares</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <li><a href="assets/docs/texto01.pdf" target="_blank">O que é um hipervídeo?</a></li>
                    <li><a href="assets/docs/texto02.pdf" target="_blank">Objetivos</a></li>
                    <li><a href="assets/docs/texto03.pdf" target="_blank">Estrutura</a></li>
                    <li><a href="assets/docs/texto04.pdf" target="_blank">O que é o programa Mais Médicos?</a></li>
                    <li><a href="assets/docs/texto05.pdf" target="_blank">Agente Indígena de Saúde</a></li>
                    <li><a href="assets/docs/texto06.pdf" target="_blank">Agente Comunitário de Saúde (ACS) e Agente de Combate às
Endemias (ACE)</a></li>
                    <li><a href="assets/docs/texto07.pdf" target="_blank">O Sistema Único de Saúde – SUS</a></li>
                    <li><a href="assets/docs/texto08.pdf" target="_blank">As competências do SUS – Art. 200 da Constituição
Federal de 1988</a></li>
                    <li><a href="assets/docs/texto09.pdf" target="_blank">Equipe de Saúde da Família</a></li>
                    <li><a href="assets/docs/texto10.pdf" target="_blank">Estratégia de Saúde da Família</a></li>
                    <li><a href="assets/docs/texto11.pdf" target="_blank">Atenção Básica à Saúde</a></li>
                    <li><a href="assets/docs/texto12.pdf" target="_blank">Política Nacional de Atenção Básica</a></li>
                    <li><a href="assets/docs/texto13.pdf" target="_blank">Quadro 1 - Comparação entre as Portarias No 2488 de
21/10/2011 e No 2436 de 21/09/2017 que orientam a Atenção Básica no Brasil</a></li>
                    <li><a href="assets/docs/texto14.pdf" target="_blank">Seminário de Escassez</a></li>
                    <li><a href="assets/docs/texto15.pdf" target="_blank">Relação da competição entre os municípios com a alta
rotatividade dos médicos</a></li>
                    <li><a href="assets/docs/texto16.pdf" target="_blank">Objetivos do Programa Mais Médicos</a></li>
                    <li><a href="assets/docs/texto17.pdf" target="_blank">Processo de criação do PMM</a></li>
                    <li><a href="assets/docs/texto18.pdf" target="_blank">Posicionamento das entidades médicas acerca das mudanças
na formação médica proporcionadas pela Lei 12.871/2013 que institui o Programa Mais Médicos</a></li>
                    <li><a href="assets/docs/texto19.pdf" target="_blank">Distribuição dos médicos no país – 2011</a></li>
                    <li><a href="assets/docs/texto20.pdf" target="_blank">O direito à saúde na Constituição Federal de 1988</a></li>
                    <li><a href="assets/docs/texto21.pdf" target="_blank">Frentes prioritárias do Programa Mais Médicos</a></li>
                    <li><a href="assets/docs/texto22.pdf" target="_blank">Acolhimento do Ministério da Saúde – Capacitação inicial dos
médicos do PMM</a></li>
                    <li><a href="assets/docs/texto23.pdf" target="_blank">Acolhimento Mais Médicos em Brasília, uma experiência para
toda a vida</a></li>
                    <li><a href="assets/docs/texto24.pdf" target="_blank">Aprendendo com o que nos separa, fortalecendo o que nos
liga: uma experiência de acolhimento no Programa Mais Médicos no Rio Grande do Norte</a></li>
                    <li><a href="assets/docs/texto25.pdf" target="_blank">Acolhimento do Mais Médico na ESF-Breno de Medeiros e seu
entrosamento com a equipe</a></li>
                    <li><a href="assets/docs/texto26.pdf" target="_blank">Agente Comunitário de Saúde</a></li>
                    <li><a href="assets/docs/texto27.pdf" target="_blank">O Agente Comunitário de Saúde</a></li>
                    <li><a href="assets/docs/texto28.pdf" target="_blank">Vínculos na Atenção Básica à Saúde</a></li>
                    <li><a href="assets/docs/texto29.pdf" target="_blank">Ordem de prioridade na seleção e ocupação das vagas do
PMM</a></li>
                    <li><a href="assets/docs/texto30.pdf" target="_blank">Proporção de médicos estrangeiros nos países de referência –
2011.</a></li>
                    <li><a href="assets/docs/texto31.pdf" target="_blank">Regras de recrutamento da OMS</a></li>
                    <li><a href="assets/docs/texto32.pdf" target="_blank">Unidade Básica de Saúde - Atividades
típicas</a></li>
                    <li><a href="assets/docs/texto33.pdf" target="_blank">Equipe de Saúde da Família</a></li>
                    <li><a href="assets/docs/texto34.pdf" target="_blank">Abertura do edital dos municípios que podem receber médicos
PMMB</a></li>
                    <li><a href="assets/docs/texto35.pdf" target="_blank">Prioridades dos municípios para receber O PMMB</a></li>
                    <li><a href="assets/docs/texto36.pdf" target="_blank">Compromissos do município para receber o
médico do PMM</a></li>
                    <li><a href="assets/docs/texto37.pdf" target="_blank">Eixo de infraestrutura do Programa Mais Médicos</a></li>
                    <li><a href="assets/docs/texto38.pdf" target="_blank">Distritos Sanitários Especiais Indígenas (DSEIS)</a></li>
                    <li><a href="assets/docs/texto39.pdf" target="_blank">Organização do Distrito Sanitário Especial Indígena (DSEI)</a></li>
                    <li><a href="assets/docs/texto40.pdf" target="_blank">Localização dos Distritos Sanitários Especiais Indígenas
(DSEIS) no território brasileiro</a></li>
                    <li><a href="assets/docs/texto41.pdf" target="_blank">Subsistema de Atenção à Saúde Indígena (SASAI)</a></li>
                    <li><a href="assets/docs/texto42.pdf" target="_blank">A supervisão acadêmica em território indigena: o fazer e
aprender do Projeto Mais Médicos para o Brasil</a></li>
                    <li><a href="assets/docs/texto43.pdf" target="_blank">Distribuição de médicos por 1.000 habitantes</a></li>
                    <li><a href="assets/docs/texto44.pdf" target="_blank">Aperfeiçoamento na Lei do Mais Médicos</a></li>
                    <li><a href="assets/docs/texto45.pdf" target="_blank">Responsabilidades do supervisor no Programa Mais Médicos</a></li>
                    <li><a href="assets/docs/texto46.pdf" target="_blank">A educação permanente transversalizada nas ações de tutoria
e supervisão do Projeto Mais Médicos para o Brasil</a></li>
                    <li><a href="assets/docs/texto47.pdf" target="_blank">Responsabilidades do tutor no Programa Mais Médicos</a></li>
                    <li><a href="assets/docs/texto48.pdf" target="_blank">Mais Médicos: afetações de uma tutora em movimento</a></li>
                    <li><a href="assets/docs/texto49.pdf" target="_blank">O trabalho em equipe multisaberes das oito referências do
Programa Mais Médicos/PROVAB em SP.</a></li>
                    <li><a href="assets/docs/texto50.pdf" target="_blank">Princípios e diretrizes da Atenção Básica definidos na
Portaria No 2.436 de 21 de setembro de 2017</a></li>
                    <li><a href="assets/docs/texto51.pdf" target="_blank">Educação Permanente em Saúde</a></li>
                    <li><a href="assets/docs/texto52.pdf" target="_blank">Mais Médicos: Educação permanente como ferramenta
potencializadora na Atenção Básica</a></li>
                    <li><a href="assets/docs/texto53.pdf" target="_blank">Evolução do número de médicos que participaram dos
ciclos do PMM e seu perfil</a></li>
                    <li><a href="assets/docs/texto54.pdf" target="_blank">Vínculos na Atenção Básica à Saúde</a></li>
                    <li><a href="assets/docs/texto55.pdf" target="_blank">Programa Mais Médicos - Eixo Provimento Emergencial</a></li>
                    <li><a href="assets/docs/texto56.pdf" target="_blank">Proposta Curricular de Flexner para formação médica x
Proposta das Novas Diretrizes Curriculares Nacionais</a></li>
                    <li><a href="assets/docs/texto57.pdf" target="_blank">Programa Mais Médicos – principais objetivos do Eixo de
Formação</a></li>
                    <li><a href="assets/docs/texto58.pdf" target="_blank">Eixo de Formação do Programa Mais Médicos</a></li>
                    <li><a href="assets/docs/texto59.pdf" target="_blank">Processo de abertura de novos cursos de medicina</a></li>
                    <li><a href="assets/docs/texto60.pdf" target="_blank">Metodologias ativas de aprendizagem na formação
médica</a></li>
                    <li><a href="assets/docs/texto61.pdf" target="_blank">Laboratório Morfofuncional</a></li>
                    <li><a href="assets/docs/texto62.pdf" target="_blank">Organização dos Serviços de Saúde/ Níveis de Atenção em
Saúde</a></li>
                    <li><a href="assets/docs/texto63.pdf" target="_blank">“Nunca dantes”- Mais Médicos e Mais SUS na formação:
graduação inovadora em medicina</a></li>
                    <li><a href="assets/docs/texto64.pdf" target="_blank">A Residência em Medicina Geral de Família e Comunidade
(MGFC)</a></li>
                    <li><a href="assets/docs/texto65.pdf" target="_blank">Benefícios oferecidos aos médicos pelo Programa de
Valorização dos Profissionais da Atenção Básica - PROVAB</a></li>
                    <li><a href="assets/docs/texto66.pdf" target="_blank">Vantagens oferecidas ao médico do PMM</a></li>
                    <li><a href="assets/docs/texto67.pdf" target="_blank">Definição do território e territorialização de acordo com a Lei
No 2.024 de 2017.</a></li>
                    <li><a href="assets/docs/texto68.pdf" target="_blank">Mudanças importantes de foco na nova abordagem de saúde</a></li>
                    <li><a href="assets/docs/texto69.pdf" target="_blank">Criação e expansão das residências médicas e
multiprofissionais no brasil - desdobramentos do Programa Mais Médicos no Rio Grande do Sul</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>