{% extends "includes/base.html" %}
{% block title %}
  <title>Contexto | Hipervideo</title>
{% endblock %}
{% block style_player %}
  <link rel="stylesheet" href="assets/player/mediaelementplayer.min.css" />
{% endblock %}
{% block style %}
  <link rel="stylesheet" href="assets/style/css/animate.min.css" />
  <link rel="stylesheet" href="assets/style/css/timeline.css" />
  <link rel="stylesheet" href="assets/style/css/mediaelement-custom.css" />
  <link rel="stylesheet" href="assets/style/css/style.css" />
{% endblock %}


{% block content %}
  <!-- Left Sidebar -->
  <div class="col-3">
    <div class="left-content">
      <!-- Chapter Title -->
      <div class="mt-3">
        <h1 class="h4">
          <div id="hv-chapter-title"></div>
          <small id="hv-chapter-subtitle" class="text-muted"></small>
        </h1>
      </div>
      <!-- /Chapter Title -->
      <!-- Complementar content -->
      <div class="mt-3">
        <h2 class="h5" id="hv-complementar-content-title"></h2>
        <p id="hv-complementar-content-sinopsis"></p>
        <button type="button" id="hv-complementar-content-modal-btn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalComplementarContent">Saiba mais</button>
      </div>
      <!-- /Complementar content -->

      <!-- Related docs -->
      <div class="mt-3">
        <a href="assets/docs/MapaMental-PMM.pdf" type="button" class="btn btn-secondary btn-sm btn-block" target="_blank">Mapa mental</a>
        <button type="button" class="btn btn-secondary btn-sm btn-block" data-toggle="modal" data-target="#modalRelatedDocs">Anexos</button>
      </div>
      <!-- /Related docs -->

      <!-- Google Maps -->
      <div class="google-maps mt-3">
          <div id="hv-map" style="width: 289px; height: 217px;"></div>
      </div>
      <!-- /Google Maps -->

      <!-- Larger map -->
      <div class="mt-3">
        <button type="button" class="btn btn-secondary btn-sm btn-block" id="hv-larger-map">Ver mapa ampliado</button>
      </div>
      <!-- /Larger map -->
    </div>
  </div>
  <!-- /Left Sidebar -->
  <div class="col-9">
    <div class="row">
      <!-- Top Timeline -->
      <div class="col-12">
         {% include "includes/timeline_video1.html" %}
      </div>
      <!-- Top Timeline -->
    </div>
    <div class="row">
      <!-- Player -->
      <div class="col-12">
        <!-- Media Element -->
        <div class="playerWrapper">
          <video id="mainPlayer" controls autoplay>
            <source type="video/mp4" src="assets/video/PMM-01-Contexto-V19.mp4" />
            <track srclang="pt" kind="subtitles" src="assets/video/PMM_01_CONTEXTO_EDIT_19.srt" />
            <!-- !TODO: Adicionar a referência ao arquivo de capítulos. Caso não exista, remover esta referência -->
            <!-- <track srclang="pt" kind="chapters" src="assets/video/chapters-sample.vtt" /> -->
          </video>
        </div>
        <!-- /Media Element -->
      </div>
      <!-- /Player -->
    </div>
  </div>
  {% include "includes/modals/modals_complementar_content_video1.html" %}
{% endblock %}

{% block script_player %}
    <script src="assets/player/mediaelement-and-player.min.js"></script>
    <script src="assets/player/lang/pt.js"></script>
{% endblock %}
{% block script_page %}
    <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyCfjNP9g6_WhUirZFSY7A6VpuE90tTZWDY&libraries=places&language=pt-br&callback=hvMapInit" type="text/javascript"></script>
    <!-- build:js assets/script/page-video1.min.js -->
    <script src="assets/script/sb-video-1.js"></script>
    <script src="assets/script/video_interactions.js"></script>
    <script type="text/javascript" src="assets/script/main.js"></script>
    <!-- endbuild -->
{% endblock %}