{% extends "includes/base.html" %}
{% block style %}
    <link rel="stylesheet" href="assets/style/css/animate.min.css" />
    <link rel="stylesheet" href="assets/style/css/related-content.css" />
    <link rel="stylesheet" href="assets/style/css/timeline.css" />
    <link rel="stylesheet" href="assets/style/css/mediaelement-custom.css" />
	<link rel="stylesheet" href="assets/style/css/complementar-content.css" />
    <link rel="stylesheet" href="assets/style/css/style.css" />
{% endblock %}

{% block content %}
    <div class="intro-content">
        <h2 class="text-primary"><span>Introdução sobre o</span><br>Hipervideo</h2>
        <p>Anim consectetur laborum consectetur ipsum Lorem nostrud elit non sunt dolore reprehenderit laboris. Aute nostrud ipsum cillum voluptate sunt et irure magna dolor elit reprehenderit aliqua ea deserunt. Aute esse adipisicing proident enim deserunt ut occaecat esse elit nostrud consequat aliqua consequat. Aute ullamco sit anim ullamco. Duis irure duis velit officia et nulla.</p>
        <!-- <div class="btns-group d-flex">
            <a class="btn btn-primary d-block" role="button" href="video1.html">Video 1</a>
            <a class="btn btn-primary d-block" role="button" href="video1.html">Video 2</a>
            <a class="btn btn-primary d-block" role="button" href="video1.html">Video 3</a>
        </div> -->

    </div>
    <div class="d-flex video-container">
        <div class="video-content flex-fill bd-highlight">
            <a href="contexto.html" title="Contexto">
                <div class="img-content">
                    <img src="assets/imgs/Frame-01-Contexto.jpg" alt="Contexto">
                </div>
                <div class="text-content">
                    <h3>Contexto</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="#fff">
                        <path d="M0 0h48v48H0z" fill="none"/>
                        <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-4 29V15l12 9-12 9z"/>
                    </svg>

                    {# <p>Sit sint ad eu enim Lorem duis tempor culpa ex aute. </p> #}
                </div>
            </a>
        </div>
        <div class="video-content flex-fill bd-highlight">
            <a href="provimento.html" title="provimento">
                <div class="img-content">
                    <img src="assets/imgs/Frame-02-Provimento.jpg" alt="Provimento">
                </div>
                <div class="text-content">
                    <h3>Provimento</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="#fff">
                        <path d="M0 0h48v48H0z" fill="none"/>
                        <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-4 29V15l12 9-12 9z"/>
                    </svg>
                    {# <p>Sit sint ad eu enim Lorem duis tempor culpa ex aute. </p> #}
                </div>
            </a>
        </div>
        <div class="video-content flex-fill bd-highlight">
            <a href="formacao.html" title="Formação">
                <div class="img-content">
                    <img src="assets/imgs/Frame-03-Formacao.jpg" alt="Formação">
                </div>
                <div class="text-content">
                    <h3>Formação</h3>
                    {# <p>Sit sint ad eu enim Lorem duis tempor culpa ex aute. </p> #}
                     <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="#fff">
                        <path d="M0 0h48v48H0z" fill="none"/>
                        <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-4 29V15l12 9-12 9z"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
{% endblock %}